<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="/user/index.html"><i class="fa fa-shield fa-lg mr10"></i>安全中心</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="user_index">
				<a href="/user/index.html">  <span>账户预览</span> <i class="fa fa-angle-right  fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_truename">
				<a href="/user/nameauth.html">  <span>实名认证</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_password">
				<a href="/user/password.html">  <span>登录密码</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_paypassword">
				<a href="/user/paypassword.html">  <span>交易密码</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_moble">
				<a href="/user/moble.html">  <span>绑定手机</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_log">
				<a href="/user/log.html">  <span>登录日志</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			
		</dl>
	</div>
</div>