<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="/Finance/index.html"><i class="fa fa-support mr10"></i>财务中心</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="finan_index">
				<a href="/Finance/index.html">  我的财产 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_pay">
				<a href="/Finance/mycz.html">  C2C交易 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_out">
				<a href="/Finance/bank.html">  收款设置 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>

			<dd class="finan_invit">
				<a href="/Finance/mytj.html">  邀请朋友 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_invitlog">
				<a href="/Finance/mywd.html">  我的推荐 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_award">
				<a href="/Finance/myjp.html">  我的奖励 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_award">
				<a href="/Finance/myyj.html">  我的预警 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<!--
			<dd class="finan_fenhong">
				<a href="/Finance/fhindex.html"> <i class="fa fa-dollar fa-lg fa-fw mr5"></i> 分红中心 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			
			<dd class="finan_myfh">
				<a href="/Finance/myfhqq3479015851.html">  我的分红 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			-->
			
		</dl>
	</div>
</div>