<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="/Finance/myyj.html"><i class="fa fa-support mr10"></i>行情预警</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="finan_index">
				<a href="/Finance/myyj.html">  我的预警 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_pay">
				<a href="/Finance/myyjadd.html">  添加预警 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_pay">
				<a href="/Finance/myyjjl.html">  预警记录 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<!--
			<dd class="finan_fenhong">
				<a href="/Finance/fhindex.html"> <i class="fa fa-dollar fa-lg fa-fw mr5"></i> 分红中心 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			
			<dd class="finan_myfh">
				<a href="/Finance/myfhqq3479015851.html">  我的分红 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			-->
			
		</dl>
	</div>
</div>